body {
  background: #ccc;
}
.h1 {
  font-family: 'Cormorant SC', serif; 
  text-align: center;
}
.wrapper {
margin: 0 auto;
width: 1000px;
overflow: hidden;
background: #444;
  
}
.wrapper img {
  -webkit-transform:scale(0.7); 
  -moz-transform:scale(0.7); 
  -o-transform:scale(0.7); 
  -webkit-transition-duration: 0.5s; 
  -moz-transition-duration: 0.5s; 
  -o-transition-duration: 0.5s; 
  opacity: 0.7; 
  margin: 15px; 
  border: 1px solid #000;
  border-radius: 50%;
  box-shadow:5px 5px 10px #2B1015;
}

.wrapper img:hover {
  -webkit-transform:scale(1); 
  -moz-transform:scale(1); 
  -o-transform:scale(1); 
  opacity: 1;
  box-shadow:0px 0px 25px #fff; 
  -webkit-box-shadow:0px 0px 30px #fff; 
  -moz-box-shadow:0px 0px 30px #fff; 
}